!!! 5
%html
  %head
    %title= $page_title
    %link{rel: 'stylesheet', type: 'text/css', media: 'screen', href: "http://fonts.googleapis.com/css?family=#{$app_title_font}"}
    %link{rel: 'stylesheet', type: 'text/css', media: 'screen', href: "css/style.css"}
    %script{type: 'text/javascript', src: 'javascripts/jquery-1.4.4.min.js'}
    %script{type: 'text/javascript', src: 'javascripts/jquery-ui-1.8.9.custom.min.js'}
    %script{type: 'text/javascript', src: 'javascripts/app.js'}

  %body{style: "background-color:#{$bg_color};"}
    #container
      %h1{style: "color:#{$app_title_color}; font-family:#{$app_title_font},serif"}= $app_title
      .box
        %h2= $app_summary
        %h3= "Enter your email or Twitter and we'll tell you when it's ready"
        #form_div
          %form{id: 'subscribe', novalidate: ''}
            %input.entry{type: 'email', name: 'contact'}
            %button{id: 'sign_up'}= 'Sign up'
        %h4= 'Powered by <a href="http://heroku.com/">Heroku</a> and <a href="http://mongohq.com">MongoHQ</a>'

    - if ENV['RAKE_ENV'] == 'production'
      %script{type: 'text/javascript', src: 'javascripts/analytics.js'}
